/* Navbar */


*{
    margin:0px;
    padding:0px;
   
}

.circlebor{
    padding-top: 6px;
    border-style: solid;
    border-radius: 50%;
    height: 34px;
    color:white;
}

.circlebor:hover{
    color: orange
}

.logo img{
    width:70px;
    padding-top: 10px;
}

.bar{
    
    width:30px;
    margin:4px;
    height: 4px;
    color:gray;
    background:white;
    
}

.btn{
    /* border: 1px solid rgb(121, 109, 109); */
    display:inline-block;
    margin: 10px;

}

.logoBtn{
    background:#7B4EF7;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

ul{
  list-style: none; 
  height: 0px;
  overflow: hidden; 
}

.showNav{
    height:160px ;
}

ul li a{
    font-family: 'Inria Sans', sans-serif;
    background: #ffff;
    display: block;
    color: #131C3A;
    padding:10px;
    text-decoration: none;
    transition: all 0.5s ease;
    font-size: 18px;
  
}

ul li a:hover{
    /* border-bottom: 1px solid blue;
    padding-bottom: 3px; */
  color:orange;
}


/* Responsive media NAVBAR*/


@media screen and (min-width:769px){

nav{
    margin-bottom: 10px;
    font-family: 'Inria Sans', sans-serif;
    background:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:6.5px;
}

.btn{
    display:none;
}
ul{
    display:flex;
    height: auto;

}
.showNav{
    height:auto ;
}

nav ul a{
    background: transparent;
}


}

/* Home */

/* @media screen and (min-width:769px){ */

.flexbox-container{
 display:flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 align-content:center;
 
/* } */


}
.flexbox-item{
 max-width: 350px;
 padding-top: 15px;
 padding-bottom: 30px;

}
.flexbox-itemlist{
   max-width: 100%;
    /* border:3px solid black; */
   background-color: #7B4EF7;
  
   }



.name-item{
    width: '80px';
    text-align: center;
    padding-right: 20px;
    font-family:'Lato', sans-serif;
    font-size: 50px;
    color: #131C3A;
    margin-top: 10px;
}
.myname-item{
    width: '80px';
    text-align: center;
    padding-right: 20px;
    font-family:'Lato', sans-serif;
    font-size: 40px;
    color: #131C3A;
    margin-top: 10px;
}
.im-item{
    width: '80px';
    text-align: center;
    padding-right: 20px;
    padding-bottom: 10px;
    font-family:'Lato', sans-serif;
    font-size: 20px;
    color: #131C3A;
    margin-top: 10px;


}


.home-item{
    max-width: 440px;
    padding-left: 2px;
    padding-right: 5px;
    height: 30%;
    justify-content: center;
    align-items: center;
}

.home-item h1{
    font-family:'Lato', sans-serif;
}



.home-list {
color: #ffff;
font-family: 'Lato', sans-serif;
font-size: 15px;
text-align: center;
height: 300px;
padding-top: 45px;
}

.homelist p{
     margin-bottom: 10px;
 }


 .flexbox-img img{
    width: 200px;
    height: 200px;
    margin-left: 60px;
    border-bottom-style: solid;
    border-width: 1px;
}





body {
    background-color: white;
  }




  .typewriter h1 {
    color: #131C3A;  
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; 
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .010em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }

    
  }
 



/* Skills */



.skills-item{
    min-width: 100px;
    min-height: 100px;
}





